 
    /*  body styles*/
    main {
     margin: 0;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    }

    .hero {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .left-section {
      background-color: #643ca6;
      width: 50%;
      height:100vh;
      padding-top: 0;
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    .left-section .profile-pic img {
      width: 340px;
      height: 340px;
      border-radius: 50%;
      border: 8px solid #fff;
      object-fit: cover;
      box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25),-10px -10px 40px rgba(0, 0, 0, 0.25);
      position: absolute;
      top: 27%;
      left: 70%;
    }
    .left-section .profile-pic img:hover{
      transform: translateY(-50px);
    }

    .social-links {
      position: absolute;
      bottom: 80px;
      left: 50px;
      display: flex;
      gap: 20px;
    }

    .social-links img {
      width: 28px;
      height: 28px;
      transition: transform 0.3s;
      
    }

    .social-links img:hover {
      transform: scale(1.2);
      box-shadow:  1px 1px 1px 1px skyblue,-1px -1px 1px 1px skyblue;
    }

     .right-section {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 80px;
      margin-left: 180px;
    }
    .right-section div {
    margin: 0; 
    padding: 0;
}

    .right-section h4 {
      color: #555;
      font-size: 1.1rem;
      margin-bottom: 2px;
      margin-top: 0;
    }

    .right-section h5 {
      font-size: 2.8rem;
      font-weight: 700;
      color: #111;
      margin-bottom: 2px;
      margin-top: 0;
    }

    .right-section p {
      color: #666;
      line-height: 1.7;
      margin-bottom: 30px;
      max-width: 500px;
      font-size: 1.25rem;
    }

    .buttons {
      display: flex;
      gap: 20px;
    }

    .btn-outline {
      border: 2px solid #7b2ff7;
      color: #7b2ff7;
      text-decoration: none;
  
      padding: 10px 25px;
      border-radius: 50px;
      font-weight: 500;
      
    }

    .btn-outline:hover {
      background-color: #7b2ff7;
      color: #fff;
      transition-timing-function: ease-in;
      transition-delay: 0.5s;
      transition-duration: 2s;
    }

    .btn-filled {
      background-color: #7b2ff7;
      color: #fff;
      text-decoration: none;
      padding: 10px 25px;
      border-radius: 50px;
      font-weight: 500;
      transition: 0.3s;
    }

    .btn-filled:hover {
      background-color: #5a1fc5;
    }

  
    /* MEDIA QUERIES  */
   

    /*  iPad Mini (width ≤ 768px) */
    @media (max-width: 768px) {
      header {
        padding: 0 30px;
      }

      nav ul {
        display: none; /* Hide nav links */
      }

      .menu-btn {
        display: block; /* Show menu button */
      }

      .menu-btn img {
        width: 35px;
        height: 35px;
      }

      .logo {
        font-size: 1.4rem;
      }

      .theme-toggle-group {
        padding: 5px 8px;
        gap: 8px;
      }

      .theme-toggle {
        width: 35px;
        height: 35px;
      }
      .hero {
    flex-direction: column;
    height: auto;
  }

  .left-section {
    width: 100%;
    background: none;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
     
  }

  .left-section .profile-pic img {
    position: static;
    width: 180px;
    height: 180px;
    border: 5px solid #7b2ff7;
    margin-bottom: 20px;
  }

  .social-links {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 30px;
  }

  .social-links img {
    width: 30px;
    height: 30px;
  }

  .right-section {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
  }

  .right-section h4 {
    color: #555;
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .right-section h5 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .right-section p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 25px;
    margin-left: 70px;
    text-align: center;
    
  }

  .buttons {
    justify-content: center;
  }
}

  
/*   (Samsung Galaxy S8 ) */
@media (max-width: 375px) {
  .left-section .profile-pic img {
    width: 150px;
    height: 150px;
    margin-top: 0;
  }

  .social-links {
    gap: 18px;
    margin-bottom: 25px;
  }

  .right-section h5 {
    font-size: 1.8rem;
  }

  .right-section p {
    font-size: 0.9rem;
    text-align: center;
    margin-left: 20px;
  }

  .buttons a {
    padding: 8px 18px;
    font-size: 0.9rem;
  }
}
